
body{
  background-image: url(img/fond1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    }

#blanc{
position: fixed;
z-index: -10;
top: 0; left: 0; right: 0; bottom: 0;
opacity: 0.1;
}

h1{
  border: 2px solid black;
  width: 40%;
  background-color:rgba(173, 216, 230, 0.4);
  box-shadow: 2px 2px 2px black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p{
  font-style: italic;
  font-size: 12px;
  color: white;
  text-align: justify;

}

span{
  font-weight: normal;
}

li{
  font-weight: bold;
  font-size: 14px;
  color: white;
}


.propos, .exp{
  height: 200px;
  width: 50%;
}
.form, .comp{
  height: 200px;
  width: 50%;
}

.compsec{
  color: white;
}

.propos, .comp{
  margin-bottom: 30px;
}
.exp,.comp,.form{
  overflow: auto;
}

.exp, .form{
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  }

.bouton{
  text-decoration: underline;
  color: white;
  cursor:pointer;
}

.bouton:hover
{
    color: red;
    text-decoration-color: red;
}

.propos,.comp,.contact{
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  }
  
.contact {
  width: 100%;
  text-align: center;

}
